#logo1{
    display: inline-block;
    width: 200;
    float: left;   
}

#logo2{
    display:inline-block;
    width: 100; 
}
#lista{
    display: inline-block;
    width: 15%;
    background-color: #f4b8b8;
    border:solid;
    text-align: center;
    font-family:fantasy;
}