#logo1{
    display: inline-block;
    width: 200;
    float: left;   
}

#logo2{
    display:inline-block;
    width: 100; 
}

#titulotexto{
    display:inline-block;
    width: 500;  
}

#barranav{
    clear: both;
}

.menu{
    display: inline-block;
    width: 15%;
    background-color: #f4b8b8;
    border:solid;
    text-align: center;
    font-family:fantasy;
}

#marco{
    width: 100%;
    height: 400px;
    padding: 8px;
      
}

#pie{
    border:double;
    background-color:#226953;
    text-align:center;
    font-size: 24px;
}

#marcoinicio{
    width: 50%;
    height: 100;
    text-align: center;
}